<html>

<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" /> <!-- нужно добавить во все формы. любой запрос, отправленный в форму, не содержащую этого токена, будет отклонен. -->
        <input type="submit" value="Sign Out"/>
    </form>
    <!-- Форма ввода сообщений через пост-запрос -->
    <form method="post">
        <input type="text" name="text" placeholder="Введите сообщение" />
        <input type="text" name="tag" placeholder="Тэг">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}" /> <!-- нужно добавить во все формы. любой запрос, отправленный в форму, не содержащую этого токена, будет отклонен. -->
        <button type="submit">Добавить</button>
    </form>
</div>
<!-- Еще одна форма -->
<div>Список сообщений</div>
<form method="post" action="filter">
    <input type="text" name="filter">
    <input type="hidden" name="_csrf" value="{{_csrf.token}}" /> <!-- нужно добавить во все формы. любой запрос, отправленный в форму, не содержащую этого токена, будет отклонен. -->
    <button type="submit">Найти</button>
</form>
<!-- отображение списка -->
{{#messages}}
<div>
    <b>{{id}}</b>
    <span>{{text}}</span>
    <i>{{tag}}</i>
</div>
{{/messages}}
</body>
</html>